@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Raleway:wght@300;400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Lato:wght@300;400&family=Raleway:wght@300;400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Dancing+Script&family=Lato:wght@300;400&family=Raleway:wght@300;400&display=swap");

/* font-family: "Bad Script", cursive;
font-family: "Dancing Script", cursive;
font-family: "Lato", sans-serif;
font-family: "Raleway", sans-serif; */

/* BASIC */
:root {
  --primary-font: "lato", san-seriff;
  --primary-color: #eabcde;
  --primary: #0d3344eb;
  --primary-dark: #052634eb;
  --secondary: #49a0eb;
  --secondary-focus: #285780e0;
  --off-white: #fcfcfc;
  --web-color: #00b0ff;
}

body {
  font-family: --var(--primary-font);
  font-size: 17px;
  background-color: rgba(255, 255, 255, 0.521);
  color: #333;
}

* {
  margin: 0;
  padding: 0;
}

/* HEADER AND NAVIGATIONS MENU */
.header {
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid rgb(0, 255, 255);
  padding: 8px;
}

.brand-wrapper {
  margin-right: 5%;
  color: #fefefe;
  font-family: "Bad Script", cursive;
  font-size: 1.8rem;
}

.brand-slogan {
  display: none;
  font-family: "Bad Script", cursive;
  font: smaller;
}

.brand-name {
  font-family: "Bad Script", cursive;
  font-size: 1.5rem;
  padding: 0.6rem;
  margin: 0.1rem;
}

.humburger {
  display: none;
}
.nav-icon {
  font-size: 1.3rem;
  font-weight: bold;
  margin-left: 0.6rem;
}
.nav-bar .list-group {
  list-style-type: none;
  text-align: right;
  padding: 0.6rem;
  margin: 0.3rem;
}

.nav-bar .list-group .list-item {
  display: inline-block;
  margin: 10px;
  padding: 5px 10px;
}

.nav-bar .link {
  color: var(--off-white);
  text-decoration: none;
  font-weight: 100px;
  margin: 2px 2px;
  transition: color 0.7s;
}

.nav-bar .link:hover {
  color: cyan;
  font-weight: lighter;
}

.nav-bar .list-group .list-item .active-link {
  color: #00b0ff;
}

/* END OF THE HEADER */

/* MAIN SECTION */

/*AUTO SLIDESHOW IMAGES OR CAROUSEL */

.slideshow {
  max-width: 1200px;
  position: relative;
  margin: 0;
  margin-bottom: 10px;
  padding: 0px;
  overflow: hidden;
}

/* Slideshow container */
.slideshow-container {
  /* max-width: 1000px; */
  width: auto;
  /* max-height: 600px; */
  position: relative;
  margin: auto;
}

.image-slideshow {
  width: 100%;
  max-height: 600px;
}

.trip-slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.hotel-slides {
  display: none;
}

.ngezi-slides,
.jozani-slides,
.market-slides,
.hotels-slides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.521);
  top: 50%;
  width: 5px;
  height: 5px;
  margin-top: -22px;
  padding: 15px;
  color: white;
  font-weight: lighter;
  font-size: 16px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 4;
}

/* Position the "next button" to the right */
.prev {
  left: -9px;
  border-radius: 50%;
}
.next {
  right: -9px;
  border-radius: 50%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Caption text */
.text {
  color: #f2f2f2;
  /* color: #aaa;
  color: cyan; */
  font-size: 1.4rem;
  padding: 8px 12px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot-ngezi,
.dot-jozani,
.dot-market {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Active class produced by the help of JavaScript */
.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* ABOUT ZANZIBAR SECTION*/

.about-zanzibar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
}

.about-zanzibar {
  padding: 15px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  margin-bottom: 20px;
}

.about-zanzibar p {
  margin: 4px;
  text-align: center;
}

.about-zanzibar b {
  font-weight: 550;
  font-size: medium;
}

.header-title {
  color: var(--primary);
  font-weight: lighter;
}

.about-link {
  display: inline-block;
  margin: 2px auto;
  text-decoration: none;
  color: var(--primary);
  transition: color 1.2s;
}

.about-link:hover {
  color: var(--web-color);
  font-weight: lighter;
}
/* END OF ABOUT ZANZIBAR SECTION */

/* ACTIVITIES AND TRIPS SECTION */
.visit-trip-section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
}

.visit-trip-paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 10px;
}

.visit-trip-paragraph p {
  margin: 4px;
  text-align: center;
}

.visit-trip-paragraph b {
  font-weight: 550;
  font-size: medium;
}
.visit-trip-section {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 0 10px;
  margin: 10px 5px 5px 5px;
  overflow: hidden;
}

.visit-trip-section p {
  margin: 4px 2px;
  padding: 0 5px;
  text-align: center;
}

.visit-trip-section b {
  font-weight: 550;
  font-size: medium;
}

.location-and-details-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3px;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3);
  padding: 5px;
  border-radius: 2px;
}

.ngezi-forest,
.jozani-bay,
.stone-town {
  width: 33%;
  margin: 20px 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4), 0px -4px 8px rgba(0, 0, 0, 0.4);
}

/* The dots/bullets/indicators */
.dot-ngezi,
.dot-jozani,
.dot-market {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.8s ease;
}

.dot-ngezi,
.dot-jozani,
.dot-market:hover {
  background-color: #777;
  cursor: pointer;
}

.activity-image {
  width: 100%;
  height: auto;
  border-radius: 1px;
}

/* link for unesco */
.unesco {
  text-decoration: none;
  color: #2b6e17;
}

/* internal link for tour */
.tour-link {
  display: inline-block;
  margin: 2px auto 25px;
  text-decoration: none;
  color: var(--primary);
  transition: color 1.2s;
}

.tour-link:hover {
  color: var(--web-color);
  font-weight: lighter;
}

.trip-information-paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.trip-slideshow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 250px;
  margin-bottom: 10px;
  margin-top: 0px;
}

.ngezi-slides,
.jozani-slides,
.market-slides {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 0;
  margin-top: 0px;
}

.image-test {
  max-width: 100%;
  height: 250px;
  /* height: 683px; */
}
/* 

END OF TRIP AND TOUR SECTION

*/

/* HOTELS AND ACCOMODATIONS */
.accomodation-section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 15px;
}

.accomodation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 20px;
}

.accomodation p {
  margin: 4px;
  padding: 0 5px;
  text-align: center;
}

.accomodation b {
  font-weight: 550;
  font-size: medium;
}

/* ACCOMODATION AND HOTELS SLIDE SHOW  AND ACCOMODATION LINK*/

.images-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.hotels-slides {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  margin-top: 20px;
}

.images-accomodation {
  max-width: 100%;
  height: 250px;
  /* height: 683px; */
}

.name-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  position: relative;
  top: -5px;
  padding: 1px 5px;
  height: 60px;
  margin-bottom: 10px;
}

.hotel-name {
  color: #ddd;
  font-size: 1.3rem;
  font-weight: lighter;
  font-family: "Bad Script", cursive;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 6px;
}

.btn-preview,
.btn-next {
  background-color: lightgrey;
  width: 60px;
  padding: 5px;
  color: #333;
  font-size: 1rem;
  margin: 20px 10px 10px;
  border: 1px solid transparent;
}

.btn-preview:hover,
.btn-next:hover {
  background-color: #bbb;
  cursor: pointer;
  transition: background-color 0.8s;
}

.demo-btn {
  background-color: lightgrey;
  padding: 8px;
  border: 1px solid transparent;
}

.demo-btn:hover {
  background-color: #aaa;
  cursor: pointer;
  transition: background-color 0.8s;
}

.active {
  background-color: lightseagreen;
}

.accomodation-link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2px;
  margin-bottom: 10px;
}
.accomodation-link {
  display: inline-block;
  margin: 2px auto;
  text-decoration: none;
  color: var(--primary);
}

.accomodation-link:hover {
  color: var(--web-color);
  font-weight: lighter;
  transition: color 1.2s;
}

/* END OF HOTELS AND ACCOMODATION  */

/* PARALLAX EFFECTS */
.parallax-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: #fff;
  font-weight: lighter;
  font-size: 1rem;
  margin-top: 10px;
  font-family: "Dancing Script", cursive;
}

.parallax-section div {
  display: flex;
  justify-content: center;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.parallax-fort-image,
.parallax-hotel-image,
.parallax-heritage-image,
.parallax-forest-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  /* position: absolute;
  top: 20px; */
}

.parallax-header-title {
  position: relative;
  color: #f2f2f2;
  font-size: 1.4rem;
  font-weight: lighter;
  font-family: "Bad Script", cursive;
}

.parallax-paragraph {
  font-family: "Lato";
  margin: 10px 1px;
  padding: 15px;
  font-size: 1.2rem;
  font-weight: lighter;
}
.parallax-fort-image {
  background: url(../images/chake-chake-during-the-night.jpg);
  width: 100vw;
  height: 80vh;
}

.parallax-hotel-image {
  background: url(../images/zanzibar-serena-hotel.jpg);
  width: 100vw;
  height: 600px;
}
.parallax-heritage-image {
  background: url(../images/stone-town.jpg);
  width: 100vw;
  height: 80vh;
}
.parallax-forest-image {
  background: url(../images/jozani-national-park.jpg);
  width: 100vw;
  height: 600px;
}

/* END OF PARALLAX EFFECT */

/* FOOTER AND SOCIAL ICONS */

.social .list-group .list-item .fa {
  padding: 10px;
  font-size: 1.4rem;
  width: 40px;
  text-align: center;
  text-decoration: none;
}

.social .list-group .list-item .fa-youtube {
  color: white;
  background-color: red;
  border-radius: 10px;
}
.social .list-group .list-item .fa-youtube:hover {
  color: red;
  background-color: white;
}

.social .list-group .list-item .fa-instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  color: white;
  border-radius: 10px;
}
.social .list-group .list-item .fa-instagram:hover {
  background-color: white;
}

.social .list-group .list-item .fa-facebook {
  color: white;
  background-color: blue;
  border-radius: 10px;
}
.social .list-group .list-item .fa-facebook:hover {
  color: blue;
  background-color: white;
}

.social .list-group .list-item .fa:hover {
  opacity: 0.9;
}

.divider {
  width: 20vh;
  height: 4px;
  border-radius: 100px;
  background-color: var(--web-color);
  margin: 3px auto;
  margin-bottom: 5px;
}

.divider-footer-header {
  background-color: var(--secondary);
}

.footer-header {
  font-family: "Bad Script", cursive;
  font-weight: lighter;
  font-size: 1.2rem;
}

.footer {
  background-color: var(--primary);
  text-align: center;
  padding: 3px 2px;
  color: #fefefe;
  font-weight: 100px;
  margin-top: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

footer .nav-bar .list-group {
  list-style-type: none;
  text-align: right;
  padding: 0.6rem;
  margin: 0.4rem;
}

footer .link {
  color: var(--off-white);
  text-decoration: none;
  font-weight: 100px;
  margin: 2px;
}

footer .list-group .list-item {
  display: inline;
}

.social {
  text-align: center;
}

.social .link {
  padding: 3px;
}
.social .link:hover {
  color: var(--secondary-focus);
  text-decoration: underline;
}

.copyright {
  font-size: smaller;
  font-weight: lighter;
  margin-top: 0.9rem;
  margin-bottom: 2px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  background: var(--primary);
  color: #fefefe;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 10px;
}

.top a {
  color: #fefefe;
  text-decoration: none;
  font-size: 1.2rem;
}

.top:hover {
  cursor: pointer;
  color: black;
}

/* END OF THE FOOTER



*/

/* MEDIA QUERIES AND SCREEN SIZES */
@media screen and (max-width: 768px) {
  /* HEADER AND NAVIGATIONS MENU */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .brand-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .humburger {
    display: block;
    position: relative;
    right: 10px;
    color: #fefefe;
    margin: 0 8px;
    font-size: 1.4rem;
  }

  .humburger-link {
    color: #fefefe;
  }

  /* Coloring humberger icon */
  .humburger .fa-bars {
    color: #fefefe;
    text-decoration: none;
    padding: 10px;
    border: 1px solid var(--primary);
    border-radius: 50%;
    background-color: var(--primary);
  }

  .nav-bar {
    z-index: 30;
    position: absolute;
    top: 68px;
    left: 0;
    right: 0;
    width: 100%;
    height: 0;
    background-color: #333;
    overflow: hidden;
    transition: all 1.5s ease-in-out;
  }

  .nav-bar.active {
    height: 100%;
  }

  .nav-bar .list-group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .nav-bar .list-group .list-item {
    margin: 15px 0;
    font-weight: lighter;
  }

  .nav-bar .list-group .list-item .link {
    color: #fefefe;
    font-size: 1.5rem;
  }

  .nav-bar .list-group .list-item .active-link {
    color: #00b0ff;
  }

  .nav-bar .list-group .list-item .link:hover {
    color: cyan;
    font-weight: lighter;
  }

  /* SLIDE SHOW AFTER NAVS */
  .slideshow {
    /* max-width: 1200px; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    width: 100%;
    height: 300px;
    position: relative;
    margin: 0;
    margin-bottom: 10px;
    padding: 0px;
    overflow: hidden;
  }

  /* Slideshow container */
  .slideshow-container {
    /* max-width: 1000px; */
    position: relative;
    /* margin: auto; */
  }

  .image-slideshow {
    height: 300px;
    max-width: 100%;
  }

  /* VISIT AND TRIP SECTION */
  .visit-trip-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    overflow-x: hidden;
  }

  .ngezi-forest,
  .jozani-bay,
  .stone-town {
    width: 90%;
  }

  /* PARALLAX SECTION */
  .parallax-section div {
    background-attachment: scroll;
    background-size: cover;
    width: 100vw;
    height: 60vh;
  }

  .parallax-fort-image {
    background: url(../images/chake-chake-during-the-night.jpg);
    width: 100vw;
    height: 60vh;
  }

  .parallax-fort-image .parallax-header-title {
    color: #fff;
  }

  .parallax-hotel-image {
    background: url(../images/zanzibar-serena-hotel.jpg);
    width: 100vw;
    height: 600px;
  }
  .parallax-heritage-image {
    background: url(../images/stone-town.jpg);
    width: 100vw;
    height: 60vh;
  }
  .parallax-forest-image {
    background: url(../images/jozani-national-park.jpg);
    width: 100vw;
    height: 600px;
  }

  .preview-image:hover,
  .next-image:hover {
    cursor: pointer;
    transition: color 2s;
    background-color: none;
  }
  .top:hover {
    cursor: pointer;
    background-color: none;
  }
}

/* END OF MEDIA QUERIES AND SCREEN SIZES */

/* ABOUT HTML PAGE */

.government-header,
.geography-header,
.history-header,
.religion-header,
.tourism-header,
.culture-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
}

.government,
.geography,
.history,
.religion,
.tourism,
.culture {
  padding: 15px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  margin-bottom: 20px;
}

.government,
.geography,
.history,
.religion,
.tourism,
.culture p {
  margin: 4px 1px;
  text-align: center;
}

.worship-place {
  color: var(--primary);
  margin: 5px;
  font-weight: lighter;
}

/* Images for each subtopic in about section */
.about-images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 800px;
  margin: 10px;
  overflow: hidden;
}

.about-image {
  width: 100%;
  height: 250px;
}

.about-images p {
  font-family: "Lato";
  font-size: 0.8rem;
  margin-top: 10px;
}

.source-info {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 5px;
  background-color: #999;
}

.source-header {
  color: var(--primary);
  margin: 10px 5px;
  font-size: 1.4rem;
  font-weight: lighter;
}

.source-paragraph {
  color: #999;
  padding: 5px;
  font-size: 1rem;
}

.source-link {
  text-decoration: none;
}

/* 

 ACCOMODATION AND HOTELS HTML PAGE SECTION

*/

.accomodation-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 2px;
}

.accomodation-header h2 {
  color: #666;
  margin: 5px;
  font-weight: lighter;
  font-size: 1.5rem;
}

.luxury-hotels {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 15px;
}

.pemba,
.unguja {
  margin-bottom: 10px;
}

.luxury-hotels .pemba h2,
.luxury-hotels .unguja h2 {
  color: var(--primary);
  margin-bottom: 10px;
  font-size: 1.4rem;
  font-weight: lighter;
}

.hotels-wrapper {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px 10px;
  padding: 3px 1px;
}

.hotels-wrapper .name-hotel {
  font-weight: 700;
  font: 1.2rem;
  margin-top: 10px;
  color: var(--primary-dark);
  font-family: "Bad Script", cursive;
}
.hotels-wrapper p {
  margin: 3px;
}

.services {
  margin: 3px;
  padding: 2px;
  max-width: 800px;
}

.services h3 {
  color: var(--primary);
  margin: 8px;
}

.services span {
  display: inline-block;
  margin: 3px 6px;
  padding: 3px;
}

.hotels-wrapper .btn {
  display: block;
  max-width: 250px;
  box-sizing: border-box;
  height: 40px;
  padding: 5px;
  color: white;
  font-size: 1rem;
  font-weight: lighter;
  background-color: var(--primary);
  border-radius: 7px;
}

.hotels-wrapper .btn .hotel-link {
  color: #fefefe;
  text-decoration: none;
  font-weight: lighter;
  font-size: 1rem;
  padding: 5px;
}

.hotels-wrapper .btn:hover {
  cursor: pointer;
}

/* 

EACH HOTEL IMAGES SLIDESHOW 

*/

/* Slideshow container */

.hotel-manta-slideshow,
.hotel-aiyana-slideshow,
.hotel-fundu-slideshow,
.hotel-verde-slideshow,
.hotel-zuri-slideshow,
.hotel-sevi-slideshow {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 400px;
  margin-bottom: 15px;
  margin-top: 20px;
}

.hotel-manta-slideshow .manta-slides,
.hotel-aiyana-slideshow .aiyana-slides,
.hotel-fundu-slideshow .fundu-slides,
.hotel-verde-slideshow .verde-slides,
.hotel-zuri-slideshow .zuri-slides,
.hotel-sevi-slideshow .sevi-slides {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  margin-top: 40px;
}

/* Styling images */
.hotel-manta-slideshow .images-hotel,
.hotel-aiyana-slideshow .images-hotel,
.hotel-fundu-slideshow .images-hotel,
.hotel-verde-slideshow .images-hotel,
.hotel-zuri-slideshow .images-hotel,
.hotel-sevi-slideshow .images-hotel {
  height: 280px;
  width: 100%;
}
/* Hide the images by default */
.hotel-manta-slideshow .manta-slides,
.hotel-aiyana-slideshow .aiyana-slides,
.hotel-fundu-slideshow .fundu-slides,
.hotel-verde-slideshow .verde-slides,
.hotel-zuri-slideshow .zuri-slides,
.hotel-sevi-slideshow .sevi-slides {
  display: none;
}

/* Number text  */
.hotel-manta-slideshow .caption-text,
.hotel-aiyana-slideshow .caption-text,
.hotel-fundu-slideshow .caption-text,
.hotel-verde-slideshow .caption-text,
.hotel-zuri-slideshow .caption-text,
.hotel-sevi-slideshow .caption-text {
  color: black;
  font-size: 16px;
  font-weight: bolder;
  padding: 8px 12px;
  position: relative;
  top: 10px;
}

/* The dots/bullets/indicators */
.hotels-dots {
  margin: 5px;
}

.manta-dot,
.aiyana-dot,
.fundu-dot,
.verde-dot,
.zuri-dot,
.sevi-dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 30px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.manta-dot:hover,
.aiyana-dot:hover,
.fundu-dot:hover,
.verde-dot:hover,
.zuri-dot:hover,
.sevi-dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 4s;
  animation-name: fade;
  animation-duration: 4s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

/* Next and Preview button */

.control-image-button {
  position: absolute;
  top: 46%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.preview-image,
.next-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #000;
  font-size: 1.2rem;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}

.preview-image:hover,
.next-image:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  transition: color 2s;
  /* color: black; */
}
.next-image {
  right: -170px;
}

.preview-image {
  left: -170px;
}

/* 

 TRAVEL AND TOUR

*/

.tour-main .horizontal-divider {
  margin: 10px auto;
  height: 1px;
  width: 90%;
}
.tour-header-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 15px;
  padding: 5px;
}

.tour-header-section .tour-header {
  color: var(--primary);
  font-size: 1.4rem;
  font-weight: 500;
}

.tour-header-section p {
  margin: 2px 5px;
  padding: 3px;
}

.old-fort-section,
.stone-town-section,
.jozani-park-section,
.ngezi-forest-section,
.forodhani-section,
.mkame-section,
.mkumbuu-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  margin-top: 20px 10px;
  padding: 1px;
}

.old-fort-section p,
.stone-town-section p,
.jozani-park-section p,
.ngezi-forest-section p,
.forodhani-section p,
.mkame-section p,
.mkumbuu-section p {
  margin: 1px 5px;
  padding: 3px;
}

.site-header-title {
  color: var(--primary);
  font-size: 1.2rem;
  font-weight: 600;
  margin: 3px;
}

/* slideshow */
.tour-fort-slideshow,
.tour-stone-town-slideshow,
.tour-jozani-park-slideshow,
.tour-ngezi-forest-slideshow,
.tour-forodhani-slideshow,
.tour-mkame-slideshow,
.tour-mkumbuu-slideshow {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 400px;
  margin-bottom: 15px;
  margin-top: 3px;
}

.tour-fort-slideshow .fort-slides,
.tour-stone-town-slideshow .stone-town-slides,
.tour-jozani-park-slideshow .jozani-park-slides,
.tour-ngezi-forest-slideshow .ngezi-forest-slides,
.tour-forodhani-slideshow .forodhani-slides,
.tour-mkame-slideshow .mkame-slides,
.tour-mkumbuu-slideshow .mkumbuu-slides {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  margin-top: 40px;
}

/* Styling images */

.tour-fort-slideshow .images-tour,
.tour-stone-town-slideshow .images-tour,
.tour-jozani-park-slideshow .images-tour,
.tour-ngezi-forest-slideshow .images-tour,
.tour-forodhani-slideshow .images-tour,
.tour-mkame-slideshow .images-tour,
.tour-mkame-slideshow .images-tour {
  height: 280px;
  width: 100%;
}
/* Hide the images by default */

.tour-fort-slideshow .fort-slides,
.tour-stone-town-slideshow .stone-town-slides,
.tour-jozani-park-slideshow .jozani-park-slides,
.tour-ngezi-forest-slideshow .ngezi-forest-slides,
.tour-forodhani-slideshow .forodhani-slides,
.tour-mkame-slideshow .mkame-slides,
.tour-mkame-slideshow .mkumbuu-slides {
  display: none;
}

/* Number text  */
.tour-fort-slideshow .caption-text,
.tour-stone-town-slideshow .caption-text,
.tour-jozani-park-slideshow .caption-text,
.tour-ngezi-forest-slideshow .caption-text,
.tour-forodhani-slideshow .caption-text,
.tour-mkame-slideshow .caption-text,
.tour-mkame-slideshow .caption-text {
  color: black;
  font-size: 16px;
  font-weight: bolder;
  padding: 8px 12px;
  position: relative;
  top: 10px;
}

.old-fort-section .control-image-button,
.mkame-section .control-image-button,
.mkumbuu-section .control-image-button {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.old-fort-section .preview-image,
.mkame-section .preview-image,
.mkumbuu-section .preview-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #000;
  font-size: 1.2rem;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}

.old-fort-section .preview-image,
.mkame-section .preview-image,
.mkumbuu-section .preview-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #000;
  font-size: 1.2rem;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}

.preview-image:hover,
.next-image:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  transition: color 2s;
}

.old-fort-section .preview-image,
.mkame-section .preview-image,
.mkumbuu-section .preview-image {
  right: -170px;
}
.old-fort-section .preview-image,
.mkame-section .preview-image,
.mkumbuu-section .preview-image {
  left: -170px;
}

.active {
  background-color: #717171;
}

/* 

CONTACT US HTML PAGE SECTION

*/

.header-social-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

.header-social-wrapper .header-title {
  color: var(--primary);
}

/* Social icons */

.header-social-wrapper .list-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  list-style-type: none;
}

.header-social-wrapper .list-group .list-item {
  margin: 10px;
  font-weight: lighter;
}

.header-social-wrapper .list-group .list-item .link {
  color: #fefefe;
  font-size: 1.5rem;
}

.header-social-wrapper .list-group .list-item .active-link {
  color: #00b0ff;
}

.header-social-wrapper .list-group .list-item .link:hover {
  color: cyan;
  font-weight: lighter;
}

.header-social-wrapper .list-group .list-item .fa {
  padding: 10px;
  font-size: 1.4rem;
  width: 40px;
  text-align: center;
  text-decoration: none;
}

.header-social-wrapper .list-group .list-item .fa-youtube {
  color: white;
  background-color: red;
  border-radius: 10px;
}
.header-social-wrapper .list-group .list-item .fa-youtube:hover {
  color: red;
  background-color: white;
}

.header-social-wrapper .list-group .list-item .fa-instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  color: white;
  border-radius: 10px;
}

.contact-media {
  font-size: 1.2rem;
  font-weight: lighter;
}
/* Social icons */
.header-social-wrapper .list-group .list-item .fa-instagram:hover {
  background-color: white;
}

.header-social-wrapper .list-group .list-item .fa-facebook {
  color: white;
  background-color: blue;
  border-radius: 10px;
}
.header-social-wrapper .list-group .list-item .fa-facebook:hover {
  color: blue;
  background-color: white;
}

.header-social-wrapper .list-group .list-item .fa:hover {
  opacity: 0.9;
}

/* Form */

fieldset {
  padding: 20px;
}

legend {
  font-size: 1.2rem;
  font-weight: 800;
  padding: 6px;
}
.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  margin: 5px;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
  padding: 5px;
}

.form-group .form-controls {
  display: block;
  width: 200px;
  height: 10px;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 3px;
  margin: 3px;
}

.form-group .comment {
  height: 100px;
}

.check-box {
  justify-content: center;
  flex-direction: row;
}

.check {
  margin-right: 4px;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 30px;
  border: 1px solid grey;
  border-radius: 3px;
  font-size: 1rem;
  background-color: var(--primary);
  color: #fff;
}

.submit:hover {
  cursor: pointer;
  color: #fff;
  background-color: blue;
}

.address {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  margin-bottom: 30px;
  padding: 5px;
}

.address .address-title {
  color: var(--primary);
  margin-bottom: 10px;
}

.address p {
  margin: 2px;
  padding: 5px;
}

.address .external-link {
  text-decoration: none;
}
